---
import Layout from '../components/Layout.astro';

const BASE_URL = import.meta.env.BASE_URL;

const MEMBERS_URL = `${BASE_URL}/miembros`;
const TEACHING_URL = `${BASE_URL}/docencia`;
const OUTREACH_URL = `${BASE_URL}/divulgacion`;
---

<Layout>
  <div
    class="grid md:grid-cols-2 lg:grid-cols-4 gap-1 py-1 text-3xl text-black font-title bg-[#d3d3d3]"
  >
    <div class="md:col-span-2 lg:col-span-4 max-h-[550px]">
      <img
        class="h-full w-full object-cover object-bottom"
        src="Img/Home/LIRFFF-Grupal.jpg"
        alt=""
      />
    </div>

    <div class="md:col-span-2">
      <img
        class="w-full object-cover object-bottom h-72"
        src="Img/Home/LIRFFF-Mosaic2.jpg"
        alt=""
      />
    </div>

    <div
      class="flex justify-center items-center bg-info min-h-[150px] md:order-1"
    >
      <a href={MEMBERS_URL} class="hover:scale-105 duration-300">
        ¿Quienes somos?
      </a>
    </div>

    <div class="md:order-2">
      <img
        class="w-full object-cover object-bottom h-72"
        src="Img/Home/LIRFFF-Mosaic4.jpg"
        alt=""
      />
    </div>

    <div
      class="flex justify-center items-center bg-info min-h-[150px] md:order-4"
    >
      <a href={TEACHING_URL} class="hover:scale-105 duration-300">Docencia</a>
    </div>

    <div class="md:order-3">
      <img
        class="w-full object-cover object-bottom h-72"
        src="Img/Home/LIRFFF-Mosaic3.jpg"
        alt=""
      />
    </div>

    <div
      class="flex justify-center items-center bg-info min-h-[150px] md:order-5 lg:order-6"
    >
      <a href={OUTREACH_URL} class="hover:scale-105 duration-300">
        Divulgación
      </a>
    </div>

    <div class="md:order-6 lg:order-5">
      <img
        class="w-full object-cover object-bottom h-72"
        src="Img/Home/LIRFFF-Mosaic1.jpg"
        alt=""
      />
    </div>
  </div>
</Layout>

<style>
  a:after {
    display: block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
</style>
 <!--

