---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
import Alumnos from "../../utils/alumnos.json";
import Ex_Alumnos from "../../utils/ex_alumnos.json";
import Apoyo from "../../utils/apoyo.json";
---

<Layout>
  <div class="">
    <div class="max-h-[350px]">
      <img
        src="Img/Members/LIRFFF-Fondo.jpg"
        alt=""
        class="max-h-full w-full object-cover object-bottom"
      />
    </div>
    <div class="grid grid-cols-2">
      <img src="Img/Members/LIRFFF-Paulina-Gomora.jpg" alt="" />
      <p class="text-xl">
        Trabajamos juntos con dedicación y entusiasmo para alcanzar nuestros
        objetivos y servir a nuestra comunidad
      </p>
    </div>
    <div class="">
      <div class="w-9/12 mx-auto py-20">
        <p class="text-black text-4xl">Alumnos</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          {
            Alumnos.map((alumno) => (
              <Card
                id={alumno.id}
                name={alumno.name}
                img={alumno.img}
                category={alumno.category}
              />
            ))
          }
        </div>
        <p class="text-black text-4xl">Exalumnos</p>
        <div  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          {
            Ex_Alumnos.map((ex_alumno) => (
              <Card
                id={ex_alumno.id}
                name={ex_alumno.name}
                img={ex_alumno.img}
                category={ex_alumno.category}
              />
            ))
          }
        </div>
        <p class="text-black text-4xl">Apoyo</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
          {
            Apoyo.map((apoyo) => (
              <Card
                id={apoyo.id}
                name={apoyo.name}
                img={apoyo.img}
                category={apoyo.category}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
