---
import Layout from "../components/Layout.astro";
import items from "../../utils/articles.json";
---

<Layout>
  <div>
    <div class="container mx-auto text-black">
      <h2
        class="text-center text-5xl text-slate-800 font-title font-medium leading-relaxed container mx-auto pt-10"
      >
        Publicaciones
      </h2>
      <div class="py-5 px-2">
        {
          items.map((item) => (
            <article class="border-b border-gray-300 last:border-b-0 py-6">
              <div>
                {item.link ? (
                  <a
                    href={item.link}
                    class="font-semibold text-secondary hover:underline hover:text-info transition duration-200"
                  >
                    {item.id}- {item.title}
                    <i class="fa-solid fa-link pl-1" />
                  </a>
                ) : (
                  <div class="font-semibold text-secondary">
                    {item.id}- {item.title}
                  </div>
                )}
              </div>
              <div class="text-gray-600">{item.authors}</div>
              <div class="italic">
                {item.place} - {item.year}
              </div>
              <div class="">{item.extra}</div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
